# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class

# Node / JS
node_modules/
dist/
build/
.DS_Store

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite
*.sqlite3

# ML Data (Giữ lại mô hình .pth nếu nhỏ hơn 100MB, nhưng bỏ qua data thô)
backend/app/ml/data/*.npy
